<h1>Login</h1>
<% if (messages.error) { %> <%= messages.error %> <% } %>
<form action="/login" method="POST">
  <!-- <div>
    <label for="name"> Name:</label>
    <input type="text" id="name" name="name" required />
  </div> -->
  <br />
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required />
  </div>
  <br />
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <br />
  <div>
    <button type="submit">Login</button>
  </div>
  <a href="/register">Register</a>
</form>
